ml purge
ml Python/3.11.5-GCCcore-13.2.0
ml Pillow-SIMD/9.5.0-GCCcore-13.2.0
ml Eigen/3.4.0-GCCcore-13.2.0
source /mnt/datagrid/personal/shekhovt/misc/venv-nightly/bin/activate
# source /mnt/datagrid/personal/shekhovt/misc/venv2.4.0/bin/activate
