__pycache__/
models/
results/
fig/
PoseLib_1/
data/
trash/

# Development folders (excluded from public branch)
depricated/
debug/
exp-tests/
modelling/
tests/

*.pyc
*.pkl
*.pth
*.npy
*.npz
*.log
*.csv
*.h5